Cau 1:Câu 1: (4.0 điểm) Lập trình đối tượng và Tính toán số học 
a) Lập trình hướng đối tượng (2.0đ): 
Trong bài toán quản lý tiền lương nhân viên, hãy xây dựng lớp cha NhanVien có các thuộc tính 
private: ma_nv (str) và luong_cb (float - lương cơ bản). Thực hiện các yêu cầu sau: 
1. Viết phương thức tinh_luong() trong lớp NhanVien trả về giá trị của luong_cb. 
2. Xây dựng 2 lớp con kế thừa từ lớp NhanVien và ghi đè phương thức tinh_luong(): 
o NhanVienTangCa: Trả về luong_cb * 1.2. 
o NhanVienChuyenChuyen: Trả về luong_cb + 500000. 
3. Trong phần main: Khởi tạo một danh sách chứa 3 đối tượng (mỗi loại nhân viên 1 đối 
tượng) với luong_cb = 10000000. Duyệt danh sách và in ra màn hình mã nhân viên cùng 
tiền lương tương ứng. 
b) NumPy – Xử lý mảng (2.0đ): 
Cho danh sách dữ liệu sản lượng: san_luong = [12, None, 8, 15, None, 10]. 
1. Chuyển danh sách trên thành mảng NumPy, thực hiện reshape thành mảng kích thước 2 x 
3. Thay thế các giá trị NaN bằng giá trị trung bình của toàn bộ mảng. 
2. Trích xuất các phần tử có giá trị > 9 và tìm giá trị nhỏ nhất trong tập hợp các phần tử vừa 
trích xuất được.

In [2]:
#A
class NhanVien:
    def __init__(self, ma_nv, luong_cb):
        self.__ma_nv = ma_nv
        self.__luong_cb = luong_cb

    def tinh_luong(self):
        return self.__luong_cb

    def get_ma_nv(self):
        return self.__ma_nv


class NhanVienTangCa(NhanVien):
    def tinh_luong(self):
        return super().tinh_luong() * 1.2


class NhanVienChuyenChuyen(NhanVien):
    def tinh_luong(self):
        return super().tinh_luong() + 500000


def main():
    danh_sach_nv = [
        NhanVien("NV01", 10000000),
        NhanVienTangCa("NV02", 10000000),
        NhanVienChuyenChuyen("NV03", 10000000)
    ]

    for nv in danh_sach_nv:
        print(f"Mã NV: {nv.get_ma_nv()} - Lương: {nv.tinh_luong():,.0f} VND")


if __name__ == "__main__":
    main()

Mã NV: NV01 - Lương: 10,000,000 VND
Mã NV: NV02 - Lương: 12,000,000 VND
Mã NV: NV03 - Lương: 10,500,000 VND

In [3]:
#B
import numpy as np

# Dữ liệu ban đầu
san_luong = [12, None, 8, 15, None, 10]

# Chuyển sang mảng NumPy và reshape 2x3
arr = np.array(san_luong, dtype=float).reshape(2, 3)

# Thay NaN bằng giá trị trung bình
mean_value = np.nanmean(arr)
arr = np.nan_to_num(arr, nan=mean_value)

# Trích xuất các phần tử > 9
lon_hon_9 = arr[arr > 9]

# Tìm giá trị nhỏ nhất trong tập vừa trích xuất
min_value = lon_hon_9.min()

print("Mảng sau khi xử lý:")
print(arr)
print("Các phần tử > 9:", lon_hon_9)
print("Giá trị nhỏ nhất trong các phần tử > 9:", min_value)

Mảng sau khi xử lý:
[[12.   11.25  8.  ]
 [15.   11.25 10.  ]]
Các phần tử > 9: [12.   11.25 15.   11.25 10.  ]
Giá trị nhỏ nhất trong các phần tử > 9: 10.0

Câu 2: (6.0 điểm) Xử lý dữ liệu thực tế với Pandas và SQL 
Cho tệp dữ liệu nhan_su.csv gồm các cột: Ma_NV, Phong_Ban, Thanh_Tich (số điểm thưởng), và 
Nam_Cong_Tac. Anh/Chị hãy thực hiện các yêu cầu sau: 
a) Lọc dữ liệu: Đọc dữ liệu và lọc các bản ghi có Ma_NV chứa chuỗi "NS" (không phân biệt chữ 
hoa, chữ thường; xử lý phù hợp nếu có giá trị thiếu) và chỉ giữ lại các nhân viên có Nam_Cong_Tac 
\ge 2021. 
b) Làm sạch dữ liệu: Điền các giá trị thiếu trong cột Thanh_Tich bằng giá trị trung bình của 
chính cột này (tính toán dựa trên tập dữ liệu đã lọc ở câu a). 
c) Tổng hợp dữ liệu (Groupby): Sử dụng phương thức groupby để tính tổng điểm Thanh_Tich 
theo từng Phong_Ban. 
d) Biến đổi bảng (Pivot Table): Tạo bảng xoay chiều (Pivot Table) với: 
 Hàng (index): Phong_Ban. 
 Cột (columns): Nam_Cong_Tac. 
 Giá trị (values): Tổng Thanh_Tich. 
 Xử lý: Điền giá trị 0 vào các ô trống (không có dữ liệu). 
e) Lưu trữ và Truy vấn: Lưu kết quả từ câu (d) vào bảng có tên bang_luong_2024 trong tệp cơ 
sở dữ liệu SQLite HeThong.db. Thực hiện truy vấn hiển thị 5 dòng đầu tiên của bảng để kiểm tra.

In [ ]:
import pandas as pd
import sqlite3

In [18]:
# Đọc file CSV (đúng thư mục DATA)
df = pd.read_csv("DATA/nhan_su.csv")

# Lọc dữ liệu
df_loc = df[
    df['Ma_NV'].str.contains('NS', case=False, na=False) &
    (df['Nam_Cong_Tac'] >= 2021)
]

print("Dữ liệu sau khi lọc:")
print(df_loc)

Dữ liệu sau khi lọc:
    Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0   NS001  KinhDoanh        85.0          2021
1   ns002  KinhDoanh         NaN          2022
2   NS003     NhanSu        90.0          2023
4   NS005    KyThuat        88.0          2021
5   ns006    KyThuat         NaN          2024
6   NS007  KinhDoanh        95.0          2023
8   NS009     NhanSu         NaN          2022
9   NS010    KyThuat        92.0          2024
10  NS011  KinhDoanh        80.0          2021

In [19]:
#B
# Tính trung bình Thanh_Tich
mean_thanh_tich = df_loc['Thanh_Tich'].mean()

# Điền giá trị thiếu
df_loc['Thanh_Tich'] = df_loc['Thanh_Tich'].fillna(mean_thanh_tich)

print("\nDữ liệu sau khi làm sạch:")
print(df_loc)

Dữ liệu sau khi làm sạch:
    Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0   NS001  KinhDoanh   85.000000          2021
1   ns002  KinhDoanh   88.333333          2022
2   NS003     NhanSu   90.000000          2023
4   NS005    KyThuat   88.000000          2021
5   ns006    KyThuat   88.333333          2024
6   NS007  KinhDoanh   95.000000          2023
8   NS009     NhanSu   88.333333          2022
9   NS010    KyThuat   92.000000          2024
10  NS011  KinhDoanh   80.000000          2021

C:\Users\Admin\AppData\Local\Temp\ipykernel_7456\2277123897.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_loc['Thanh_Tich'] = df_loc['Thanh_Tich'].fillna(mean_thanh_tich)

In [20]:
#C
tong_hop = df_loc.groupby('Phong_Ban')['Thanh_Tich'].sum().reset_index()

print("\nTổng Thanh_Tich theo Phòng ban:")
print(tong_hop)

Tổng Thanh_Tich theo Phòng ban:
   Phong_Ban  Thanh_Tich
0  KinhDoanh  348.333333
1    KyThuat  268.333333
2     NhanSu  178.333333

In [21]:
#D
pivot = pd.pivot_table(
    df_loc,
    index='Phong_Ban',
    columns='Nam_Cong_Tac',
    values='Thanh_Tich',
    aggfunc='sum',
    fill_value=0
)

print("\nPivot Table:")
print(pivot)

Pivot Table:
Nam_Cong_Tac   2021       2022  2023        2024
Phong_Ban
KinhDoanh     165.0  88.333333  95.0    0.000000
KyThuat        88.0   0.000000   0.0  180.333333
NhanSu          0.0  88.333333  90.0    0.000000

In [22]:
#E
# Kết nối SQLite
conn = sqlite3.connect("HeThong.db")

# Lưu bảng vào CSDL
pivot.to_sql("bang_luong_2024", conn, if_exists="replace")

# Truy vấn 5 dòng đầu
query = "SELECT * FROM bang_luong_2024 LIMIT 5"
result = pd.read_sql(query, conn)

print("\n5 dòng đầu của bảng bang_luong_2024:")
print(result)

# Đóng kết nối
conn.close()

5 dòng đầu của bảng bang_luong_2024:
   Phong_Ban   2021       2022  2023        2024
0  KinhDoanh  165.0  88.333333  95.0    0.000000
1    KyThuat   88.0   0.000000   0.0  180.333333
2     NhanSu    0.0  88.333333  90.0    0.000000