B√†i 1

In [19]:
import sqlite3
DB_FILE_5_1 = "bai_tap_5_1.db" 

print(f" K·∫æT N·ªêI V√Ä IN VERSION ")

try:
    conn = sqlite3.connect(DB_FILE_5_1)
    cursor = conn.cursor()
    cursor.execute("SELECT sqlite_version();")
    version = cursor.fetchone()
    print(f" ƒê√£ k·∫øt n·ªëi th√†nh c√¥ng ƒë·∫øn {DB_FILE_5_1}")
    print(f" Phi√™n b·∫£n SQLite ƒëang s·ª≠ d·ª•ng: {version[0]}")
    
except sqlite3.Error as e:
    print(f" L·ªói x·∫£y ra: {e}")
finally:
    if conn:
        conn.close()
        print(" ƒê√£ ƒë√≥ng k·∫øt n·ªëi.")

 K·∫æT N·ªêI V√Ä IN VERSION
 ƒê√£ k·∫øt n·ªëi th√†nh c√¥ng ƒë·∫øn bai_tap_5_1.db
 Phi√™n b·∫£n SQLite ƒëang s·ª≠ d·ª•ng: 3.49.1
 ƒê√£ ƒë√≥ng k·∫øt n·ªëi.

B√†i 2

In [20]:
import sqlite3

conn = sqlite3.connect(":memory:")
print("ƒê√£ t·∫°o CSDL trong b·ªô nh·ªõ")

conn.close()

ƒê√£ t·∫°o CSDL trong b·ªô nh·ªõ

B√†i 3

In [21]:
import sqlite3

conn = sqlite3.connect("bai_tap_5_4.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER
)
""")

conn.commit()
conn.close()

B√†i 4

In [22]:
import sqlite3
conn = sqlite3.connect("bai_tap_5_4.db")
cursor = conn.cursor()

cursor.execute("""
SELECT name FROM sqlite_master WHERE type='table';
""")

print(cursor.fetchall())
conn.close()

[('students',), ('sqlite_sequence',)]

B√†i 5

In [23]:
import sqlite3

conn = sqlite3.connect("bai_tap_5_5.db")
cursor = conn.cursor()

# T·∫°o b·∫£ng n·∫øu ch∆∞a t·ªìn t·∫°i
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER
)
""")

# Insert d·ªØ li·ªáu
cursor.execute(
    "INSERT INTO students (name, age) VALUES (?, ?)",
    ("Linh", 19)
)

conn.commit()

cursor.execute("SELECT * FROM students")
print(cursor.fetchall())

conn.close()

[(1, 'Linh', 19), (2, 'Linh', 19)]

B√†i 6

In [24]:
import sqlite3
bai_tap_5_6 = "bai_tap_5_5.db"
conn = sqlite3.connect(bai_tap_5_6)
cursor = conn.cursor()

cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()

for row in rows:
    print(row)

conn.close()

(1, 'Linh', 19)
(2, 'Linh', 19)

B√†i 7

In [25]:
import sqlite3
bai_tap_5_7 = "bai_tap_5_5.db"
conn = sqlite3.connect(bai_tap_5_7)
cursor = conn.cursor()

cursor.execute("UPDATE students SET age = 21 WHERE name = 'An'")
conn.commit()

conn.close()

B√†i 8

In [26]:
import sqlite3
bai_tap_5_8 = "bai_tap_5_5.db"
conn = sqlite3.connect(bai_tap_5_8)
cursor = conn.cursor()
cursor.execute("DELETE FROM students WHERE name = 'Linh'")
conn.commit()
conn.close()

B√†i 9

In [27]:
import pandas as pd
csv_data = """REGION_ID,REGION_NAME
1,Europe
2,Americas
3,Asia
4,"Middle East and Africa"
"""
file_name = "region.csv"
with open(file_name, "w", encoding="utf-8") as f:
    f.write(csv_data)

print(f"ƒê√£ t·∫°o th√†nh c√¥ng file '{file_name}'.")

def bai_5_9_doc_csv_voi_pandas(file_path):
    try:
        df = pd.read_csv(file_path)
        
        print(f"\n Hi·ªÉn th·ªã t·∫•t c·∫£ c√°c d√≤ng trong file '{file_path}' b·∫±ng Pandas:")
        print(df)
        
    except FileNotFoundError:
        print(f"L·ªói: Kh√¥ng t√¨m th·∫•y file t·∫°i ƒë∆∞·ªùng d·∫´n {file_path}")
    except Exception as e:
        print(f"L·ªói khi ƒë·ªçc file CSV: {e}")
bai_5_9_doc_csv_voi_pandas(file_name)

ƒê√£ t·∫°o th√†nh c√¥ng file 'region.csv'.

 Hi·ªÉn th·ªã t·∫•t c·∫£ c√°c d√≤ng trong file 'region.csv' b·∫±ng Pandas:
   REGION_ID             REGION_NAME
0          1                  Europe
1          2                Americas
2          3                    Asia
3          4  Middle East and Africa

B√†i 10

In [28]:
import sqlite3

DB_FILE = "product.db"

def connect_db(db_file=DB_FILE):
    conn = sqlite3.connect(db_file)
    cursor = conn.cursor()
    return conn, cursor

def create_table():
    conn, cursor = connect_db()
    try:
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS product (
                Id INTEGER PRIMARY KEY,
                Name TEXT NOT NULL,
                Price REAL NOT NULL,
                Amount INTEGER NOT NULL
            );
        """)
        conn.commit()
        print(f"ƒê√£ t·∫°o ho·∫∑c ƒë·∫£m b·∫£o b·∫£ng 'product' t·ªìn t·∫°i trong {DB_FILE}.")
    except sqlite3.Error as e:
        print(f"L·ªói khi t·∫°o b·∫£ng: {e}")
    finally:
        conn.close()

# --- CH·ª®C NƒÇNG 1: HI·ªÇN TH·ªä DANH S√ÅCH S·∫¢N PH·∫®M ---
def display_products():
    """Hi·ªÉn th·ªã t·∫•t c·∫£ c√°c s·∫£n ph·∫©m c√≥ trong b·∫£ng."""
    conn, cursor = connect_db()
    try:
        cursor.execute("SELECT Id, Name, Price, Amount FROM product ORDER BY Id;")
        products = cursor.fetchall()
        
        print("\n--- DANH S√ÅCH S·∫¢N PH·∫®M ---")
        if not products:
            print("Hi·ªán t·∫°i kh√¥ng c√≥ s·∫£n ph·∫©m n√†o trong CSDL.")
            return

        print(f"| {'ID':<4} | {'T√äN S·∫¢N PH·∫®M':<25} | {'GI√Å':<10} | {'SL':<5} |")
        print("-" * 50)
        for prod in products:
            print(f"| {prod[0]:<4} | {prod[1]:<25} | {prod[2]:<10.2f} | {prod[3]:<5} |")
        print("-" * 50)
        
    except sqlite3.Error as e:
        print(f"L·ªói khi hi·ªÉn th·ªã s·∫£n ph·∫©m: {e}")
    finally:
        conn.close()

# --- CH·ª®C NƒÇNG 2: TH√äM C√ÅC S·∫¢N PH·∫®M ---
def add_product(name, price, amount):
    """Th√™m m·ªôt s·∫£n ph·∫©m m·ªõi v√†o b·∫£ng product."""
    conn, cursor = connect_db()
    try:
        cursor.execute(
            "INSERT INTO product (Name, Price, Amount) VALUES (?, ?, ?)",
            (name, price, amount)
        )
        conn.commit()
        print(f"\n ƒê√£ th√™m s·∫£n ph·∫©m: '{name}' (ID m·ªõi: {cursor.lastrowid}).")
    except sqlite3.IntegrityError as e:
        print(f"L·ªói ch√®n d·ªØ li·ªáu (Ki·ªÉm tra l·∫°i Price/Amount kh√¥ng ƒë∆∞·ª£c NULL): {e}")
    except sqlite3.Error as e:
        print(f"L·ªói khi th√™m s·∫£n ph·∫©m: {e}")
    finally:
        conn.close()

# --- CH·ª®C NƒÇNG 3: T√åM KI·∫æM TH√îNG TIN S·∫¢N PH·∫®M THEO T√äN ---
def search_product_by_name(search_term):
    """T√¨m ki·∫øm s·∫£n ph·∫©m theo t√™n (h·ªó tr·ª£ t√¨m ki·∫øm g·∫ßn ƒë√∫ng b·∫±ng LIKE)."""
    conn, cursor = connect_db()
    try:
        sql = "SELECT Id, Name, Price, Amount FROM product WHERE Name LIKE ? ORDER BY Name"
        cursor.execute(sql, (f'%{search_term}%',))
        
        results = cursor.fetchall()
        print(f"\nüîç K·∫æT QU·∫¢ T√åM KI·∫æM cho '{search_term}':")
        if not results:
            print("Kh√¥ng t√¨m th·∫•y s·∫£n ph·∫©m n√†o ph√π h·ª£p.")
            return

        print(f"| {'ID':<4} | {'T√äN S·∫¢N PH·∫®M':<25} | {'GI√Å':<10} | {'SL':<5} |")
        print("-" * 50)
        for prod in results:
            print(f"| {prod[0]:<4} | {prod[1]:<25} | {prod[2]:<10.2f} | {prod[3]:<5} |")
        print("-" * 50)

    except sqlite3.Error as e:
        print(f"L·ªói khi t√¨m ki·∫øm s·∫£n ph·∫©m: {e}")
    finally:
        conn.close()

# --- CH·ª®C NƒÇNG 4: C·∫¨P NH·∫¨T ƒê∆†N GI√Å V√Ä S·ªê L∆Ø·ª¢NG ---
def update_product(prod_id, new_price, new_amount):
    """C·∫≠p nh·∫≠t gi√° v√† s·ªë l∆∞·ª£ng c·ªßa s·∫£n ph·∫©m theo ID."""
    conn, cursor = connect_db()
    try:
        cursor.execute(
            "UPDATE product SET Price = ?, Amount = ? WHERE Id = ?",
            (new_price, new_amount, prod_id)
        )
        conn.commit()
        if cursor.rowcount > 0:
            print(f"\n ƒê√£ c·∫≠p nh·∫≠t th√†nh c√¥ng s·∫£n ph·∫©m ID={prod_id}. Gi√° m·ªõi: {new_price}, S·ªë l∆∞·ª£ng m·ªõi: {new_amount}")
        else:
            print(f"\n Kh√¥ng t√¨m th·∫•y s·∫£n ph·∫©m c√≥ ID={prod_id} ƒë·ªÉ c·∫≠p nh·∫≠t.")
            
    except sqlite3.Error as e:
        print(f"L·ªói khi c·∫≠p nh·∫≠t s·∫£n ph·∫©m: {e}")
    finally:
        conn.close()

# --- CH·ª®C NƒÇNG 5: X√ìA S·∫¢N PH·∫®M THEO ID ---
def delete_product(prod_id):
    """X√≥a s·∫£n ph·∫©m theo ID c·ª• th·ªÉ."""
    conn, cursor = connect_db()
    try:
        cursor.execute("DELETE FROM product WHERE Id = ?", (prod_id,))
        conn.commit()
        
        if cursor.rowcount > 0:
            print(f"\n ƒê√£ x√≥a th√†nh c√¥ng s·∫£n ph·∫©m ID={prod_id}.")
        else:
            print(f"\n Kh√¥ng t√¨m th·∫•y s·∫£n ph·∫©m c√≥ ID={prod_id} ƒë·ªÉ x√≥a.")
            
    except sqlite3.Error as e:
        print(f" L·ªói khi x√≥a s·∫£n ph·∫©m: {e}")
    finally:
        conn.close()

# ----------------------------------------------------
# KH·ªûI CH·∫†Y V√Ä DEMO ·ª®NG D·ª§NG
# ----------------------------------------------------

def run_demo():
    # 1. Kh·ªüi t·∫°o CSDL v√† B·∫£ng
    create_table()

    # 2. Th√™m m·ªôt s·ªë s·∫£n ph·∫©m ban ƒë·∫ßu
    print("\n--- TH√äM D·ªÆ LI·ªÜU BAN ƒê·∫¶U ---")
    add_product("B√†n ph√≠m c∆°", 1500000.0, 10)
    add_product("Chu·ªôt kh√¥ng d√¢y", 450000.50, 50)
    add_product("M√†n h√¨nh LCD 27inch", 6000000.0, 5)
    
    # 3. Hi·ªÉn th·ªã danh s√°ch s·∫£n ph·∫©m
    display_products()
    
    # 4. T√¨m ki·∫øm s·∫£n ph·∫©m theo t√™n
    search_product_by_name("Chu·ªôt")
    
    # 5. C·∫≠p nh·∫≠t ƒë∆°n gi√° v√† s·ªë l∆∞·ª£ng cho ID=1
    update_product(1, 1200000.0, 15) 
    
    # 6. Hi·ªÉn th·ªã l·∫°i sau khi c·∫≠p nh·∫≠t
    display_products()
    
    # 7. X√≥a s·∫£n ph·∫©m ID=3
    delete_product(3)
    
    # 8. Hi·ªÉn th·ªã cu·ªëi c√πng
    display_products()

# Ch·∫°y DEMO
run_demo()

ƒê√£ t·∫°o ho·∫∑c ƒë·∫£m b·∫£o b·∫£ng 'product' t·ªìn t·∫°i trong product.db.

--- TH√äM D·ªÆ LI·ªÜU BAN ƒê·∫¶U ---

 ƒê√£ th√™m s·∫£n ph·∫©m: 'B√†n ph√≠m c∆°' (ID m·ªõi: 1).

 ƒê√£ th√™m s·∫£n ph·∫©m: 'Chu·ªôt kh√¥ng d√¢y' (ID m·ªõi: 2).

 ƒê√£ th√™m s·∫£n ph·∫©m: 'M√†n h√¨nh LCD 27inch' (ID m·ªõi: 3).

--- DANH S√ÅCH S·∫¢N PH·∫®M ---
| ID   | T√äN S·∫¢N PH·∫®M              | GI√Å        | SL    |
--------------------------------------------------
| 1    | B√†n ph√≠m c∆°               | 1500000.00 | 10    |
| 2    | Chu·ªôt kh√¥ng d√¢y           | 450000.50  | 50    |
| 3    | M√†n h√¨nh LCD 27inch       | 6000000.00 | 5     |
--------------------------------------------------

üîç K·∫æT QU·∫¢ T√åM KI·∫æM cho 'Chu·ªôt':
| ID   | T√äN S·∫¢N PH·∫®M              | GI√Å        | SL    |
--------------------------------------------------
| 2    | Chu·ªôt kh√¥ng d√¢y           | 450000.50  | 50    |
--------------------------------------------------

 ƒê√£ c·∫≠p nh·∫≠t th√†nh c√¥ng s·∫£n ph·∫©m ID=1. Gi√° m·ªõi: 1200000.0, S·ªë l∆∞·ª£ng m·ªõi: 15

--- DANH S√ÅCH S·∫¢N PH·∫®M ---
| ID   | T√äN S·∫¢N PH·∫®M              | GI√Å        | SL    |
--------------------------------------------------
| 1    | B√†n ph√≠m c∆°               | 1200000.00 | 15    |
| 2    | Chu·ªôt kh√¥ng d√¢y           | 450000.50  | 50    |
| 3    | M√†n h√¨nh LCD 27inch       | 6000000.00 | 5     |
--------------------------------------------------

 ƒê√£ x√≥a th√†nh c√¥ng s·∫£n ph·∫©m ID=3.

--- DANH S√ÅCH S·∫¢N PH·∫®M ---
| ID   | T√äN S·∫¢N PH·∫®M              | GI√Å        | SL    |
--------------------------------------------------
| 1    | B√†n ph√≠m c∆°               | 1200000.00 | 15    |
| 2    | Chu·ªôt kh√¥ng d√¢y           | 450000.50  | 50    |
--------------------------------------------------

B√†i 11

In [29]:
import sqlite3
DB_FILE = "ql_nhan_vien.db"

def connect_db(db_file=DB_FILE):
    conn = sqlite3.connect(db_file)
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = ON;") 
    return conn, cursor

def create_tables():
    conn, cursor = connect_db()
    try:
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS PHONG (
                Id INTEGER PRIMARY KEY,
                Name TEXT NOT NULL,
                Price REAL NOT NULL,
                Amount INTEGER NOT NULL
            );
        """)
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS NHAN_VIEN (
                id INTEGER PRIMARY KEY,
                ho_ten TEXT NOT NULL,
                tuoi INTEGER NOT NULL,
                dia_chi TEXT NOT NULL,
                luong REAL NOT NULL,
                Id_phong INTEGER, 
                
                -- ƒê·ªãnh nghƒ©a Kh√≥a ngo·∫°i tham chi·∫øu ƒë·∫øn PHONG(Id)
                FOREIGN KEY (Id_phong) REFERENCES PHONG(Id)
            );
        """)
        conn.commit()
        print(f"ƒê√£ t·∫°o CSDL '{DB_FILE}' v√† hai b·∫£ng PHONG/NHAN_VIEN v·ªõi Kh√≥a ngo·∫°i.")
    except sqlite3.Error as e:
        print(f"L·ªói khi t·∫°o b·∫£ng: {e}")
    finally:
        conn.close()
def add_departments():
    """Th√™m d·ªØ li·ªáu m·∫´u v√†o b·∫£ng PHONG."""
    conn, cursor = connect_db()
    try:
        departments = [
            (1, 'Ph√≤ng K·ªπ Thu·∫≠t', 1000.0, 5),     
            (2, 'Ph√≤ng Kinh Doanh', 500.0, 10),    
            (3, 'Ph√≤ng H√†nh Ch√≠nh', 200.0, 3)     
        ]
        # Th√™m d·ªØ li·ªáu v√†o c√°c c·ªôt Id, Name, Price, Amount
        cursor.executemany(
            "INSERT OR IGNORE INTO PHONG (Id, Name, Price, Amount) VALUES (?, ?, ?, ?)", 
            departments
        )
        conn.commit()
        print(f"ƒê√£ th√™m {cursor.rowcount} ph√≤ng ban m·∫´u v√†o b·∫£ng PHONG.")
    except sqlite3.Error as e:
        print(f"L·ªói khi th√™m ph√≤ng ban: {e}")
    finally:
        conn.close()

def add_employees():
    """Th√™m d·ªØ li·ªáu m·∫´u v√†o b·∫£ng NHAN_VIEN."""
    conn, cursor = connect_db()
    try:
        employees = [
            # Thu·ªôc Ph√≤ng K·ªπ Thu·∫≠t (ID=1)
            ('Nguy·ªÖn VƒÉn A', 25, 'H√† N·ªôi', 15000000.0, 1),
            # Thu·ªôc Ph√≤ng Kinh Doanh (ID=2)
            ('Tr·∫ßn Th·ªã B', 30, 'TP HCM', 22000000.5, 2),('L√™ VƒÉn C', 22, 'ƒê√† N·∫µng', 12000000.0, 2),
            # Thu·ªôc Ph√≤ng H√†nh Ch√≠nh (ID=3)
            ('Ph·∫°m VƒÉn D', 45, 'H√† N·ªôi', 18500000.0, 3),
        ]
        
        cursor.executemany(
            "INSERT INTO NHAN_VIEN (ho_ten, tuoi, dia_chi, luong, Id_phong) VALUES (?, ?, ?, ?, ?)",
            employees
        )
        conn.commit()
        print(f"ƒê√£ th√™m {cursor.rowcount} nh√¢n vi√™n m·∫´u v√†o b·∫£ng NHAN_VIEN.")
    except sqlite3.IntegrityError as e:
        print(f"L·ªói Kh√≥a ngo·∫°i (Id_phong kh√¥ng t·ªìn t·∫°i): {e}")
    except sqlite3.Error as e:
        print(f"L·ªói khi th√™m nh√¢n vi√™n: {e}")
    finally:
        conn.close()

def display_employees():
    """Hi·ªÉn th·ªã danh s√°ch nh√¢n vi√™n c√πng t√™n ph√≤ng ban."""
    conn, cursor = connect_db()
    try:
        sql = """
            SELECT 
                NV.id, NV.ho_ten, NV.tuoi, NV.luong, P.Name 
            FROM NHAN_VIEN NV
            JOIN PHONG P ON NV.Id_phong = P.Id
            ORDER BY NV.id;
        """
        cursor.execute(sql)
        employees = cursor.fetchall()

        print("\n--- DANH S√ÅCH NH√ÇN VI√äN V√Ä PH√íNG BAN ---")
        if not employees:
            print("Kh√¥ng c√≥ nh√¢n vi√™n n√†o.")
            return

        print(f"| {'ID':<4} | {'H·ªå T√äN':<20} | {'TU·ªîI':<5} | {'L∆Ø∆†NG':<15} | {'PH√íNG BAN':<20} |")
        print("-" * 70)
        for emp in employees:
            luong_format = f"{emp[3]:,.0f}" # ƒê·ªãnh d·∫°ng s·ªë
            print(f"| {emp[0]:<4} | {emp[1]:<20} | {emp[2]:<5} | {luong_format:<15} | {emp[4]:<20} |")
        print("-" * 70)
        
    except sqlite3.Error as e:
        print(f"L·ªói khi hi·ªÉn th·ªã nh√¢n vi√™n: {e}")
    finally:
        conn.close()

# ----------------------------------------------------
# KH·ªûI CH·∫†Y V√Ä DEMO ·ª®NG D·ª§NG QU·∫¢N L√ù NH√ÇN VI√äN
# ----------------------------------------------------

def run_employee_management_app():
    # 1. Kh·ªüi t·∫°o c·∫•u tr√∫c CSDL
    create_tables()
    
    # 2. Th√™m d·ªØ li·ªáu ph√≤ng ban 
    add_departments()
    
    # 3. Th√™m d·ªØ li·ªáu nh√¢n vi√™n
    add_employees()
    
    # 4. Hi·ªÉn th·ªã k·∫øt qu·∫£
    display_employees()

# Ch·∫°y DEMO
run_employee_management_app()

ƒê√£ t·∫°o CSDL 'ql_nhan_vien.db' v√† hai b·∫£ng PHONG/NHAN_VIEN v·ªõi Kh√≥a ngo·∫°i.
ƒê√£ th√™m 3 ph√≤ng ban m·∫´u v√†o b·∫£ng PHONG.
ƒê√£ th√™m 4 nh√¢n vi√™n m·∫´u v√†o b·∫£ng NHAN_VIEN.

--- DANH S√ÅCH NH√ÇN VI√äN V√Ä PH√íNG BAN ---
| ID   | H·ªå T√äN               | TU·ªîI  | L∆Ø∆†NG           | PH√íNG BAN            |
----------------------------------------------------------------------
| 1    | Nguy·ªÖn VƒÉn A         | 25    | 15,000,000      | Ph√≤ng K·ªπ Thu·∫≠t       |
| 2    | Tr·∫ßn Th·ªã B           | 30    | 22,000,000      | Ph√≤ng Kinh Doanh     |
| 3    | L√™ VƒÉn C             | 22    | 12,000,000      | Ph√≤ng Kinh Doanh     |
| 4    | Ph·∫°m VƒÉn D           | 45    | 18,500,000      | Ph√≤ng H√†nh Ch√≠nh     |
----------------------------------------------------------------------