In [1]:
import pandas as pd 
pd.__version__

'2.3.3'

In [2]:
!pip show pandas

Name: pandas
Version: 2.3.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

 Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
 All rights reserved.

 Copyright (c) 2011-2023, Open source contributors.

 Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:

 * Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.

 * Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

 * Neither the name of the copyright holder nor the names of its
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.

 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Location: C:\Users\Admin\AppData\Local\Programs\Python\Python313\Lib\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by:

# 4.3. SERIES, DATAFRAME VÀ INDEX TRONG PANDAS

vd4.3.2.1

In [3]:
import pandas as pd 
data = pd.Series([1.0, 0.25, 6.0, 0.75]) 
data

0    1.00
1    0.25
2    6.00
3    0.75
dtype: float64

In [4]:
data[0]

np.float64(1.0)

In [5]:
data[1]

np.float64(0.25)

In [7]:
print("Giá trị (values)", data.values)

Giá trị (values) [1.   0.25 6.   0.75]

In [8]:
print("Chỉ mục (index):", data.index)

Chỉ mục (index): RangeIndex(start=0, stop=4, step=1)

In [9]:
print("Kiểu dữ liệu (dtype)", data.dtype)

Kiểu dữ liệu (dtype) float64

In [10]:
print(type(data))

<class 'pandas.core.series.Series'>

vd4.3.2.2

In [13]:
import pandas as pd     #Khởi tạo điểm population từ dữ liệu dân số of Tỉnh/Tp
population_dict = {     #keys : 'Hà Nội' sẽ là nhãn (index) ; Giá trị : 8330830 sẽ là gí trị dân số tương ứng
    'Hà Nội':8330830,   #tương tự ...
    'Quảng Ninh':1358085, 
    'Nam Định': 1836270, 
    'Đà Nẵng':1195490, 
    'TP.Hồ Chí Minh':9411805
} 
population = pd.Series(population_dict, name='Dân số Tỉnh/Thành phố') 
print(population)

Hà Nội            8330830
Quảng Ninh        1358085
Nam Định          1836270
Đà Nẵng           1195490
TP.Hồ Chí Minh    9411805
Name: Dân số Tỉnh/Thành phố, dtype: int64

một số truy cập khác

In [17]:
print("Dân số Hà Nội:", population['Hà Nội'])

Dân số Hà Nội: 8330830

In [18]:
population['TP.Hồ Chí Minh']

np.int64(9411805)

In [15]:
print("\n Cắt lát dân số 3 tỉnh đầu:")
print(population[:3])

 Cắt lát dân số 3 tỉnh đầu:
Hà Nội        8330830
Quảng Ninh    1358085
Nam Định      1836270
Name: Dân số Tỉnh/Thành phố, dtype: int64

In [ ]:
print("Số phần tử", data.size)
print("Kích thước bộ nhớ (dtype)", data.dtype)

Số phần tử 4
Kích thước bộ nhớ (dtype) float64

Bổ sung Vd4.3.2.4

In [22]:
# import matplotlib.pyplot as plt
# population.plot(kind='bar', title='Dân số các Tỉnh/TP')
# plt.ylabel('Số người')
# plt.show

4.3.3. Đối tượng Pandas DataFrame

vd4.3.3.1

In [ ]:
area_dict={'Hà Nội':3358.9, #Khởi tạo từ điển diện tích
            'Quảng Ninh':6177.7, 
            'Nam Định':1668.0, 
            'Đà Nẵng':1284.9, 
            'TP.Hồ Chí Minh':2061.0} 
area = pd.Series(area_dict) #Sử dụng hàm pd.Series() tạo Series diện tích các Tỉnh/TP
area

Hà Nội            3358.9
Quảng Ninh        6177.7
Nam Định          1668.0
Đà Nẵng           1284.9
TP.Hồ Chí Minh    2061.0
dtype: float64

In [24]:
area

Hà Nội            3358.9
Quảng Ninh        6177.7
Nam Định          1668.0
Đà Nẵng           1284.9
TP.Hồ Chí Minh    2061.0
dtype: float64

In [25]:
df = pd.DataFrame({'Dân số':population, 'Diện tích': area})
df

                 Dân số  Diện tích
Hà Nội          8330830     3358.9
Quảng Ninh      1358085     6177.7
Nam Định        1836270     1668.0
Đà Nẵng         1195490     1284.9
TP.Hồ Chí Minh  9411805     2061.0

In [26]:
print("Kích thức bảng: số hàng, cột:", df.shape)

Kích thức bảng: số hàng, cột: (5, 2)

Một số cách tạo DataFrame

vd4.3.3.1 tạo DataFrame từ Dictionary

In [ ]:
import pandas as pd
data={
    'Tỉnh/TP': ['Hà Nội', 'Đà Nẵng','TP.Hồ Chí Minh','Nam Định'],
    'Dân số (người)': [8338830,1195490,9411805,1836270]
    
}

In [28]:
df

                 Dân số  Diện tích
Hà Nội          8330830     3358.9
Quảng Ninh      1358085     6177.7
Nam Định        1836270     1668.0
Đà Nẵng         1195490     1284.9
TP.Hồ Chí Minh  9411805     2061.0

In [29]:
df_indexed=df.set_index('Tỉnh/TP')
print("DataFrame sau khi đặt index")
print(df_indexed)

KeyError: "None of ['Tỉnh/TP'] are in the columns"

4.3.4. Đối tượng Pandas Index, …

vd4.3.4.1-Tạo và thao tác với index

In [30]:
idx=pd.Index(['Hà Nội','Đà Nẵng','TP.Hồ Chí Minh','Nam Định'])
print("Index ban đầu:", idx)
#Kiểm tra thuộc tính
print("tên Index:", idx.name)
print("Độ dài:", len(idx))

Index ban đầu: Index(['Hà Nội', 'Đà Nẵng', 'TP.Hồ Chí Minh', 'Nam Định'], dtype='object')
tên Index: None
Độ dài: 4

vd4.3.4.2

In [33]:
import pandas as pd 
indA=pd.Index([0, 2, 4, 6, 8]) 
indB=pd.Index([1, 3, 7, 8, 9]) 
print('Index A: ', indA) 
print('Index B: ', indB) 
print('Hợp: ', indA.union(indB)) #hợp (union) 
print('Hiệu: ', indA.difference(indB)) #hiệu 
print('Giao: ', indA.intersection(indB))  #Giao 
print('Hiệu đối xứng: ', indA.symmetric_difference(indB))#hiệu đối xứng 
print('A <= B and A!=B: ', indA.isin(indB))

Index A:  Index([0, 2, 4, 6, 8], dtype='int64')
Index B:  Index([1, 3, 7, 8, 9], dtype='int64')
Hợp:  Index([0, 1, 2, 3, 4, 6, 7, 8, 9], dtype='int64')
Hiệu:  Index([0, 2, 4, 6], dtype='int64')
Giao:  Index([8], dtype='int64')
Hiệu đối xứng:  Index([0, 1, 2, 3, 4, 6, 7, 9], dtype='int64')
A <= B and A!=B:  [False False False False  True]

4.4.DATASELECTIONVÀINDEXINGTRONGPANDAS

vd4.4.1.1

In [34]:
import pandas as pd 
data = pd.Series([1, 2, 3, 4], 
                index=['a','b','c','d']) 
data

a    1
b    2
c    3
d    4
dtype: int64

vd4.4.1.2

In [35]:
'a' in data

True

In [36]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [37]:
data.values

array([1, 2, 3, 4])

In [38]:
list(data.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

a.SerieslàDictionary(tiếp,…)

In [39]:
data['e']=9.99 
data

a    1.00
b    2.00
c    3.00
d    4.00
e    9.99
dtype: float64

vd4.4.1.3 series['start':'end']

In [40]:
#Array slicing (explicit index)  
#lấy các phần tử trong  khoảng index từ a -> c (do người dùng định nghĩa) 
data['a':'c']

a    1.0
b    2.0
c    3.0
dtype: float64

vd4.4.1.4

In [41]:
#Masking 
mask=(data>1)&(data<4) 
mask

a    False
b     True
c     True
d    False
e    False
dtype: bool

In [42]:
data[mask]

b    2.0
c    3.0
dtype: float64

vd4.4.1.5

In [43]:
indices_1=['b','d']       #explicit index 
selection_1=data[indices_1] 
selection_1

b    2.0
d    4.0
dtype: float64

In [44]:
indices_2=[1,3]           #implicit index 
selection_2=data[indices_2] 
selection_2

C:\Users\Admin\AppData\Local\Temp\ipykernel_16204\1873190884.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  selection_2=data[indices_2]

b    2.0
d    4.0
dtype: float64

vd4.4.1.6

In [47]:
import pandas as pd 
data = pd.Series(['a','b','c','d','e'],index=[1,3,5,6,7]) 
data

1    a
3    b
5    c
6    d
7    e
dtype: object

In [48]:
data[1]    #explicit index khi dùng chỉ mục

'a'

In [49]:
data[1:3]  #implicit index khi cắt slicing

3    b
5    c
dtype: object

vd4.4.1.7

In [45]:
 
import pandas as pd 
data=pd.Series(['a','b','c','d','e'],index=[1,3,5,6,7]) 
data.loc[1]   
#explicit index

'a'

In [52]:
data.loc[1:4]  #lấy các phần tử theo vị trí trong mảng index =1 4

1    a
3    b
dtype: object

In [54]:
data.iloc[1]   #Lấy phần tử vị trí 1 trong mảng giá trị [‘a’,’b’,’c’,’d’,’e’]

'b'

In [55]:
data.iloc[1:4]  #lấy các phần tử trong mảng giá trị  từ vị trí 1 3, 
                # không lấy vị trí 4.

3    b
5    c
6    d
dtype: object

4.4.2.DataSelectionvàIndexingtrongDataFrame

In [56]:
import pandas as pd 
population = pd.Series({'Hà Nội':8330830, 
                        'Quảng Ninh':1358490, 
                        'Nam Định': 1771000, 
                        'Đà Nẵng':1191381, 
                        'TP.Hồ Chí Minh':9411805}) 
area=pd.Series({'Hà Nội':3358.9, 
                 'Quảng Ninh':6177.7, 
                 'Nam Định': 1668.0, 
                 'Đà Nẵng':1284.9, 
                 'TP.Hồ Chí Minh':2061.0}) 
data = pd.DataFrame({'Dân số':population, 'Diện tích':area}) 
data

                 Dân số  Diện tích
Hà Nội          8330830     3358.9
Quảng Ninh      1358490     6177.7
Nam Định        1771000     1668.0
Đà Nẵng         1191381     1284.9
TP.Hồ Chí Minh  9411805     2061.0

vd4.4.2.1

In [58]:
data['Dân số']

Hà Nội            8330830
Quảng Ninh        1358490
Nam Định          1771000
Đà Nẵng           1191381
TP.Hồ Chí Minh    9411805
Name: Dân số, dtype: int64

 Truy cập trực tiếp vào các Series như là một thuộc tính của đối tượng

In [59]:
#’tạo cột mới ‘popolution’ từ cột ‘Dân số’  
data['population'] = data['Dân số']   
print(data)

                 Dân số  Diện tích  population
Hà Nội          8330830     3358.9     8330830
Quảng Ninh      1358490     6177.7     1358490
Nam Định        1771000     1668.0     1771000
Đà Nẵng         1191381     1284.9     1191381
TP.Hồ Chí Minh  9411805     2061.0     9411805

In [60]:
data.population

Hà Nội            8330830
Quảng Ninh        1358490
Nam Định          1771000
Đà Nẵng           1191381
TP.Hồ Chí Minh    9411805
Name: population, dtype: int64

In [61]:
data['Mật độ']=data['Dân số']/data['Diện tích'] 
data

                 Dân số  Diện tích  population       Mật độ
Hà Nội          8330830     3358.9     8330830  2480.225669
Quảng Ninh      1358490     6177.7     1358490   219.902229
Nam Định        1771000     1668.0     1771000  1061.750600
Đà Nẵng         1191381     1284.9     1191381   927.216904
TP.Hồ Chí Minh  9411805     2061.0     9411805  4566.620573

### Hoán chuyển cột và hàng

Ví dụ 4.4.2.3.a

In [62]:
#Sử dụng loc 
print(data) 
#Lấy hàng đầu tiên 
print('\n Dữ liệu của Hà Nội:\n',data.loc['Hà Nội']) 
#Lấy dữ liệu 3 hàng đầu tiên 
print("\n Dữ liệu của Hà Nội, Quảng Ninh và Nam Định:\n",data.loc[:'Nam Định']) 
#Dữ liệu của 2 hàng và 2 cột đầu tiên 
print("\nDữ liệu dân số, diện tích của Hà Nội, Quảng Ninh:\n",data.loc[:'Quảng Ninh',:'Diện tích']) 
#Lấy dữ liệu của tất cả các hàng và các cột cuối cùng 
print("\n Mật độ dân số các Tỉnh/Thành phố:\n",data.loc[:,'Mật độ'])

                 Dân số  Diện tích  population       Mật độ
Hà Nội          8330830     3358.9     8330830  2480.225669
Quảng Ninh      1358490     6177.7     1358490   219.902229
Nam Định        1771000     1668.0     1771000  1061.750600
Đà Nẵng         1191381     1284.9     1191381   927.216904
TP.Hồ Chí Minh  9411805     2061.0     9411805  4566.620573

 Dữ liệu của Hà Nội:
 Dân số        8.330830e+06
Diện tích     3.358900e+03
population    8.330830e+06
Mật độ        2.480226e+03
Name: Hà Nội, dtype: float64

 Dữ liệu của Hà Nội, Quảng Ninh và Nam Định:
              Dân số  Diện tích  population       Mật độ
Hà Nội      8330830     3358.9     8330830  2480.225669
Quảng Ninh  1358490     6177.7     1358490   219.902229
Nam Định    1771000     1668.0     1771000  1061.750600

Dữ liệu dân số, diện tích của Hà Nội, Quảng Ninh:
              Dân số  Diện tích
Hà Nội      8330830     3358.9
Quảng Ninh  1358490     6177.7

 Mật độ dân số các Tỉnh/Thành phố:
 Hà Nội            2480.225669
Quảng Ninh         219.902229
Nam Định          1061.750600
Đà Nẵng            927.216904
TP.Hồ Chí Minh    4566.620573
Name: Mật độ, dtype: float64